{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}


{% block body %}
    {{ dump() }}
    <div class="mt-4">
        <div class="mb-4">
            <p class="text-capitalize">Vous etes dans votre espace personnel </p>


            <div class="row">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                        {% include "client/_menu.html.twig" %}
                    </div>

                    <div class="col-auto col-md-9 col-xl-10 px-sm-10 px-0">
                        {% if type == 'projet' %}
                            {% include "client/_projet.html.twig" %}
                        {% elseif type == 'document' %}
                            {% include "client/_document.html.twig" %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
